<div class="comment">
    <div class="commentText">
        <p>
            <strong><%= comment.commenter%>:
            </strong>
        </p>
        <p>
            <%= comment.body%>
        </p>
    </div>
        
    <p>
    <%= link_to 'delete comment', [comment.article, comment], method: :delete , data: {confirm: "are you sure?"},class:"commentDelete" %>

    </p>
</div>